

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.simon-game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #2F4F4F;
}

#webcam-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  border: 4px solid #b0a030;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: hidden;
}

#label-container {
  position: fixed;
  top: 230px;
  right: 20px;
  width: 200px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  z-index: 100;
  box-sizing: border-box;
}

#label-container > div {
  color: #ffffff !important;
  font-weight: bold;
}

.start-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  color: #2c2c2c;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 50px;
  padding: 15px 50px;
  border: 3px solid #58743f;
  background-color: #6a8a4c;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 200;
}

.start-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  color: #000000;
  background-color: #7b9e59;
  box-shadow: 0 0 15px rgba(234,255,208, 0.8);
}

.back-button {
  position: absolute;
  top: 80px;
  left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  color: #2c2c2c;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  border: 3px solid #8f4d2a;
  background-color: #a95c32;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 200;
}

.back-button:hover {
  transform: scale(1.1);
  color: #000000;
  background-color: #c26b3a;
  box-shadow: 0 0 15px rgba(255,229,208, 0.8);
}

#p5-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
